*,
::after,
::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --bg-color: #333;
  --font-color: #fff;
  --game-bg: #dfdfdf;
  --main-green: rgb(119, 196, 119);
  --deep-green: rgb(110, 147, 110);
  --food-bg: rgb(217, 217, 14);
  --tile-size: 15px;
  --food-y: 30%;
  --food-x: 70%;
}

html {
  font-size: 62.5%;
  font-size: 10px;
}

body {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
}

.title {
  position: absolute;
  top: 5vh;
  font-size: 3em;
  color: var(--font-color);
}

.container {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 3rem;
  position: absolute;
  top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  background-color: var(--game-bg);
  border-radius: 10px;
  color: var(--bg-color);
  font-size: 1.5em;
}

.info-box {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 45px 1fr 1fr;
  gap: 10px;
}

.score,
.score-text,
.start-btn {
  align-self: center;
  grid-row: 1/2;
}

.score-text {
  grid-column: 1/2;
}

.score {
  grid-column: 2/3;
}

.start-btn {
  grid-column: 3/4;
}

.instructions {
  grid-column: 1/4;
  grid-row: 2/3;
  padding-top: 10px;
  border-top: 1px solid var(--bg-color);
}

.arrows {
  font-size: 1.8rem;
}

.start-btn {
  width: 100%;
  height: 30px;
  background-color: var(--main-green);
  color: var(--font-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  outline: none;
  border-radius: 2px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
}

.start-btn:hover {
  background-color: var(--deep-green);
}

.game-board {
  position: relative;
  width: calc(var(--tile-size) * 20);
  height: calc(var(--tile-size) * 20);
  border: 1px solid var(--bg-color);
  border-radius: 2px;
  background-color: transparent;
}

.snake {
  position: absolute;
  top: 50%;
  left: 25%;
  display: initial;
  background-color: #fff;
}

.tile {
  width: var(--tile-size);
  height: var(--tile-size);
  padding: 0;
  margin: 0;
  border-radius: 2px;
}

.snake-tile {
  background-color: var(--main-green);
  border: 1px solid var(--deep-green);
}

.food-tile {
  position: absolute;
  top: var(--food-y);
  left: var(--food-x);
  background-color: var(--food-bg);
  border: 1px solid var(--deep-green);
}/*# sourceMappingURL=style.css.map */