*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #333;
  --font-color: #fff;

  --board-width: 20;
  --board-height: 20;

  --game-bg: #dfdfdf;
  --main-green: rgb(119, 196, 119);
  --deep-green: rgb(36, 112, 36);
  --first-skin: radial-gradient(circle, rgb(196, 243, 57) 0%, rgba(132,152,97,1) 95%); 

  --tile-size: 15px;
  --food-top: 90px;
  --food-left: 210px;
}

html {
  font-size: 62.5%;
  font-size: 10px;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
}

.title {
  position: absolute;
  top: 5vh;
  font-size: 3em;
  color: var(--font-color);
  text-shadow: 5px 5px 5px #000;
}

.container {
  width: min-content;
  height: min-content;
  padding: 3rem;
  position: absolute;
  top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  background-color: var(--game-bg);
  border-radius: 10px;
  color: var(--bg-color);
  overflow: hidden;
  font-size: 1.5em;
}

.info-box {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 45px 1fr 1fr;
  gap: 10px;
}

.score,
.score-text,
.start-btn {
  align-self: center;
  grid-row: 1/2;
}

.score-text {
  grid-column: 1/2;
}

.score {
  grid-column: 2/3;
}

.start-btn {
  grid-column: 3/4;
}

.instructions {
  grid-column: 1/4;
  grid-row: 2/3;
  padding-top: 10px;
  border-top: 1px solid var(--bg-color);
}

.arrows {
  margin-left: 10px;
  font-size: 1.8rem;
  pointer-events: none;
}

.btn {
  position: relative;
  height: 30px;
  background-color: var(--main-green);
  color: var(--font-color);
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 15px;
  border: none;
  outline: none;
  transition: background-color 0.5s;
  cursor: pointer;
  overflow: hidden;
}

.btn::before {
	content: '';
  display: block;
	position: absolute;
	left: -60px;
	top: -15px;
	width: 50px;
	height: 50px;
  transform: rotate(20deg);
	background-image: linear-gradient(
		-90deg,
		rgba(255, 255, 255, 0.5),
		rgba(255, 255, 255, 0)
	);
	transition: left 0.5s;
}

.btn:hover::before {
	left: 130%;
}

.btn:hover {
  background-color: var(--deep-green);
}

.start-btn {
  width: 100%;
}

.game-board {
  position: relative;
  width: calc(var(--tile-size) * var(--board-width));
  height: calc(var(--tile-size) * var(--board-height));
  border: 1px solid var(--bg-color);
  border-radius: 2px;
  background-color: transparent;
  overflow: hidden;
}

.tile {
  position: absolute;
  width: var(--tile-size);
  height: var(--tile-size);
  padding: 0;
  margin: 0;
  border-radius: 2px;
}

.snake-tile {
  background: rgb(130,239,126);
  background: var(--first-skin);
  border: 1px solid var(--deep-green);
  border-radius: 5px;
  left: var(--first-tile-left);
}
.snake-tile:nth-child(1)::before,
.snake-tile:nth-child(1)::after {
  content: '';
  width: 3px;
  height: 4px;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: white;
  border-bottom: 3px solid black;
}

.snake-tile:nth-child(1)::before {
  top: 40%;
  left: 30%;
}

.snake-tile:nth-child(1)::after {
  top: 40%;
  left: 70%;
}

[data-tile='1'] {
  background-color: var(--main-green);
}

.food-tile {
  position: absolute;
  top: var(--food-top);
  left: var(--food-left);
  background-color: var(--food-bg);
  border: 1px solid var(--deep-green);
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 35%;
  border-bottom-left-radius: 35%;
  background: rgb(233, 93, 93);
  background: linear-gradient(
    0deg,
    rgba(233, 93, 93, 1) 0%,
    rgba(255, 195, 111, 1) 24%
  );
}
.food-tile::before {
  content: '';
  width: 50%;
  height: 35%;
  position: absolute;
  top: -5px;
  left: 50%;
  border-radius: 10px 0;
  background-color: rgb(60, 177, 60);
  border: 1px solid green;
}
.food-tile::after {
  content: '';
  width: 2px;
  height: 7px;
  position: absolute;
  top: 5px;
  left: 20%;
  transform: skew(10deg);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.667);
  border: none;
}

.end-box {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.73);
}

.close-btn {
  width: 117px;
}

.summation {
  font-size: 3rem;
  font-weight: bold;
  color: var(--font-color);
}

.underline {
  width: 100%;
  height: 3px;
  background-color: #fff;
}

.scores {
  width: 100%;
  height: max-content;
  background-color: pink;
}

.score-list {
  font-size: 20px;
  line-height: 30px;
  color: var(--font-color);
}

.hidden {
  display: none;
}
